APP_NAME=BagiPangan
APP_ENV=production
APP_KEY=base64:CHANGE_ME_GENERATE_WITH_ARTISAN_KEY_GENERATE
APP_DEBUG=false
APP_URL=https://bagipangan.eastasia.cloudapp.azure.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=CHANGE_ME
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME

SUPABASE_SERVICE_ROLE_KEY=CHANGE_ME

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=bagipangan.eastasia.cloudapp.azure.com

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@bagipangan.eastasia.cloudapp.azure.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
